* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#board {
  width: 330px;
  height: 330px;
  border: 8px solid black;
  background-size: cover;
  border-collapse: collapse;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
tr, td {
  border: 5px dashed black;
}
td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 60px;
}
#gn{
  color: green;
  font-size: 37px;
}
/* Custom checkbox styling */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
}

/* Custom label styling */
label {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
#subs{
  color: black;
  font-size: 40px;
}
#so{
  background-color:green;
  font-size: 15px;
  width: 100px;
  height: 50px;
}
.settings_style{
  background-color:green;
  font-size: 15px;
  width: 100px;
  height: 50px;
}
#restore_default_settings{
  background-color:green;
  font-size: 15px;
  width: 100px;
  height: 50px;
}
#hoai{
  width: 100%;
}
#pai, #phm{
  width: 50%;
  background-color: green;
}
#settings_page{
  display: none;
  text-align: center;
}
#game{
  display: none;
}